BasedOnStyle: LLVM
IndentWidth: 4
BreakTemplateDeclarations: Leave
IndentPPDirectives: AfterHash
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
UseTab: Never
CompactNamespaces: true
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BreakConstructorInitializers: BeforeColon
AllowAllConstructorInitializersOnNextLine: true
#BreakConstructorInitializersBeforeComma: false
AllowShortCompoundRequirementOnASingleLine: true
RequiresClausePosition: SingleLine